/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 35px;
}

a
{
  color: #104E8B;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: #104E8B;
  background: #fbf0f4;
}
