code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #DB7093;
}

a {
    color: 	#DB7093;
}

a:hover {
    color: 	#CB3365;
    background-color: #fbf0f4;
    text-decoration: none;
}

a img {
    border: solid 2px white;
}

a:hover img {
    color: 	#483d8b;
    background-color: #DEE0FF;
    text-decoration: none;
    border: solid 2px #58FFFF;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: 	#483d8b;
}
